.mobileV div[data-id='0674769F-BFC9-46A9-9E8D-4CCCCF73CA17'] > div:first-child {border-right-width: 1px !important;
}
.mobileV div[data-id='46ABA191-3238-4F07-B223-186694F79A17'] > div:first-child {border-top-left-radius: 11px !important;
border-top-right-radius: 11px !important;
border-bottom-right-radius: 11px !important;
border-bottom-left-radius: 11px !important;
}
.mobileV div[data-id='8A99581F-B1F8-48A0-8428-685B7B7FFF41'] > div:first-child {border-top-left-radius: 11px !important;
border-top-right-radius: 11px !important;
border-bottom-right-radius: 11px !important;
border-bottom-left-radius: 11px !important;
}
.mobileV div[data-id='989497D8-B3D3-4843-88CD-3589C3115583'] > div:first-child {border-top-left-radius: 11px !important;
border-top-right-radius: 11px !important;
border-bottom-right-radius: 11px !important;
border-bottom-left-radius: 11px !important;
}
.mobileV div[data-id='8D1C43E5-A8A5-48A8-862A-7D2C7248E86B'] > div:first-child {border-top-left-radius: 11px !important;
border-top-right-radius: 11px !important;
border-bottom-right-radius: 11px !important;
border-bottom-left-radius: 11px !important;
}
.mobileV div[data-id='8C21D65B-EAEF-45B8-9CCB-05AEAA1F450F'] > div:first-child {border-top-left-radius: 11px !important;
border-top-right-radius: 11px !important;
border-bottom-right-radius: 11px !important;
border-bottom-left-radius: 11px !important;
}
.mobileV div[data-id='926E41EA-73C4-4A52-AFD8-A5C537E2AD9B'] > div:first-child {border-top-width: 1px !important;
}
.mobileV div[data-id='F58F3A26-B66A-457A-93A8-EA6AB59D1519'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='4E32E473-C3DD-4B27-A39C-1B1D8A17547D'] > div:first-child {border-top-width: 1px !important;
}
.mobileV div[data-id='8564AD1D-BCCC-4A58-BFE6-6A05DCB14EBB'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='816C2CA6-D074-4946-A6CD-A8978CF68186'] > div:first-child {border-top-width: 1px !important;
}
.mobileV div[data-id='3705EC18-EC9F-4726-AB13-D12B22D6C55E'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='C76EDF93-82F5-4827-9052-DDCB96EABE2B'] > div:first-child {border-top-width: 1px !important;
}
.mobileV div[data-id='FC145AD9-7381-46AE-B60B-A44C7FB6BB58'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='AE372726-17CB-4FDD-9A3F-0E2398CC4E88'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}

            .mobileV div[data-id='22371A18-611C-4C53-A52E-66A7ADFD3C85'] {
                display: block !important;
            }
.mobileV div[data-id='C370B1CF-8893-4C66-A491-4DCFD986E0F3'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='7D7C8754-2EBD-4B78-ADCF-137E9CC827BE'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}

            .mobileV div[data-id='B80D8160-1458-4551-8FDB-6FBA920B59E8'] {
                display: block !important;
            }
.mobileV div[data-id='A33F4DCB-3D80-48DF-9493-DBFAC5E25EA0'] > div:first-child {border-top-width: 1px !important;
}
.mobileV div[data-id='8F3EC2B7-C480-4FF5-BC8D-1E4FFF78E0B8'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='04261C17-1780-4D58-A5DC-991B0EF2CDB5'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='F9AB2AF3-1953-4877-AA49-9A2890E507E0'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='A13012ED-36DA-4FDD-B188-9A5E762006CD'] > div:first-child {border-right-width: 1px !important;
}

            .mobileV div[data-id='535EF9B0-2C90-4C68-819D-F7D0DE35F579'] {
                display: block !important;
            }

            .mobileV div[data-id='BC2BE7AE-A821-416C-9E8D-05A4A5BBDDF0'] {
                display: block !important;
            }
.mobileV div[data-id='CE5B32A7-936D-4B22-9C80-E03F25FC27DF'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='F8115826-F205-4BCB-95A0-91497F363665'] > div:first-child {border-top-width: 1px !important;
}
        @media (max-width: 650px) { body { min-width: 'initial' } body.desktopV { min-width: 946px } }
        @media (min-width: 651px) { body { min-width: 946px } body.mobileV { min-width: initial } }